# Byte-compiled / optimized / DLL files
__pycache__/

# Data files and other university policies (available in League code)
data/
policies/
sample_data/

# Environments
.env/

# Visual Studio Code
.vscode/
